.a{
	width: 2000px;
	height: 10000px;
	margin: 0 auto;
	background-color: lightcoral;
}
.b{
	background-color: skyblue;
	height: 200px;
	width: 2000px;
	
}
.c{
	background-color: palegreen;
	height: 1000px;
	width: 300px;
	
}
.d{
    background-color: white;
	width: 1700px;
	height: 1000px;
}

.one1{
	background-color: midnightblue;
	
}
.ul{
	display: flex;
	list-style: none;
	
}
.li{
	width: 2000px;
	height: 1000px;
	margin-left: 0 auto;
}